/*------------------------------------*\
  $ GEN
\*------------------------------------*/
body {
  background: #262626;
  font-family: sans-serif;
  margin: 0; padding: 0;
}
/*------------------------------------*\
  $ CARDS
\*------------------------------------*/
ul {
  list-style-type: none;
  position: absolute; left: 40%; top: 25%;
  &:hover li:nth-child(3) { transform: rotate(-5deg) skew(0deg) translate(-300px, 0) }
  &:hover li:nth-child(2) { transform: rotate(0deg) skew(0deg) translate(0, 0) }
  &:hover li:nth-child(1) { transform: rotate(5deg) skew(0deg) translate(300px, 0)}
  li {
    background: #fff;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    position: absolute;
    transition: 0.5s;
    width: 340px; height: 380px;
    &:nth-child(3) { transform: rotate(10deg) skew(-30deg) translate(-15px, -15px); }
    &:nth-child(2) { transform: rotate(10deg) skew(-30deg) translate(0px, 0px); }
    &:nth-child(1) { transform: rotate(10deg) skew(-30deg) translate(15px, 15px); }
    span {
      color: #ccc;
      display: block;
      font-size: 32px;
      line-height: 280px;
      text-align: center;
    }
  }
}